openapi: 3.0.0
info:
  title: StressAware API
  description: API для сервиса предиктивного мониторинга стресса сотрудников
  version: 1.0.0
  contact:
    name: StressAware Support
    email: support@stressaware.com

servers:
  - url: https://api.stressaware.com/v1
    description: Production server

tags:
  - name: Employee
    description: Личный кабинет сотрудника
  - name: Manager
    description: Дашборд руководителя
  - name: HR
    description: Дашборд HR-директора
  - name: Psychologist
    description: Рабочее место психолога
  - name: Admin
    description: Администрирование

paths:
  # СОТРУДНИК
  /employees/me/stress-score:
    get:
      tags: [Employee]
      summary: Получить текущий индекс стресса
      description: Возвращает текущий индекс стресса, зону риска и динамику за 30 дней
      security:
        - bearerAuth: []
      responses:
        200:
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    example: "usr_123"
                  current_score:
                    type: number
                    format: float
                    example: 5.7
                  risk_zone:
                    type: string
                    enum: [green, yellow, red]
                    example: "yellow"
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                          example: "2026-09-08"
                        score:
                          type: number
                          format: float
                          example: 5.7
        401:
          description: Не авторизован

  /employees/me/recommendations:
    get:
      tags: [Employee]
      summary: Получить персональные рекомендации
      description: Возвращает список  рекомендаций на основе индекса стресса и факторов риска
      security:
        - bearerAuth: []
      responses:
        200:
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        text:
                          type: string
                          example: "У вас 8 встреч завтра. Попробуйте разгрузить день"
                        priority:
                          type: string
                          enum: [high, medium, low]
                        reason:
                          type: string
                          example: "Высокая нагрузка на календарь"
        401:
          description: Не авторизован

  /employees/me/consultation-request:
    post:
      tags: [Employee]
      summary: Отправить запрос на консультацию
      description: Создает запрос сотрудника на консультацию к психологу
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: Дополнительный комментарий
                  example: "Чувствую постоянную усталость уже месяц"
      responses:
        201:
          description: Запрос создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: "req_456"
                  status:
                    type: string
                    example: "new"
                  message:
                    type: string
                    example: "Запрос отправлен. Психолог свяжется с вами"
        401:
          description: Не авторизован
        409:
          description: Уже есть активный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "У вас уже есть активный запрос"

  # РУКОВОДИТЕЛЬ
  /manager/department/stats:
    get:
      tags: [Manager]
      summary: Получить статистику по отделу
      description: Возвращает анонимизированную статистику по отделу руководителя
      security:
        - bearerAuth: []
      responses:
        200:
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  department_id:
                    type: string
                  total_employees:
                    type: integer
                  risk_distribution:
                    type: object
                    properties:
                      green:
                        type: integer
                      yellow:
                        type: integer
                      red:
                        type: integer
                  dynamics:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        avg_score:
                          type: number
                          format: float
                  recommendations:
                    type: array
                    items:
                      type: string
        401:
          description: Не авторизован
        403:
          description: Доступ запрещен

  # HR-ДИРЕКТОР
  /hr/company/stats:
    get:
      tags: [HR]
      summary: Получить статистику по компании
      description: Возвращает агрегированную статистику по всей компании
      security:
        - bearerAuth: []
      parameters:
        - name: department_id
          in: query
          required: false
          schema:
            type: string
          description: Идентификатор подразделения для фильтрации
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Начало периода
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Конец периода
      responses:
        200:
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_employees:
                    type: integer
                  risk_distribution:
                    type: object
                    properties:
                      green:
                        type: integer
                      yellow:
                        type: integer
                      red:
                        type: integer
                  departments:
                    type: array
                    items:
                      type: object
                      properties:
                        department_id:
                          type: string
                        name:
                          type: string
                        risk_distribution:
                          type: object
                          properties:
                            green:
                              type: integer
                            yellow:
                              type: integer
                            red:
                              type: integer
                  interventions_effectiveness:
                    type: object
                    properties:
                      total:
                        type: integer
                      resolved:
                        type: integer
                      improved:
                        type: integer
        401:
          description: Не авторизован
        403:
          description: Доступ запрещен

  /hr/reports/export:
    post:
      tags: [HR]
      summary: Выгрузить отчет
      description: Формирует отчет по заданным параметрам
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - period
                - format
              properties:
                period:
                  type: string
                  enum: [month, quarter, year]
                  description: Период отчета
                departments:
                  type: array
                  items:
                    type: string
                  description: Список отделов (если не указаны, то все)
                format:
                  type: string
                  enum: [excel, pdf]
                  description: Формат выгрузки
      responses:
        200:
          description: Отчет сформирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: string
                    example: "rep_789"
                  download_url:
                    type: string
                    format: uri
                    example: "https://api.stressaware.com/v1/reports/rep_789/download"
        400:
          description: Некорректные параметры отчета
        401:
          description: Не авторизован
        403:
          description: Доступ запрещен

  # ПСИХОЛОГ
  /psychologist/tasks:
    get:
      tags: [Psychologist]
      summary: Получить список задач
      description: Возвращает приоритизированный список задач сотрудников, требующих внимания психолога
      security:
        - bearerAuth: []
      responses:
        200:
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      type: object
                      properties:
                        task_id:
                          type: string
                        employee_id:
                          type: string
                        employee_name:
                          type: string
                        department:
                          type: string
                        stress_score:
                          type: number
                          format: float
                        trend:
                          type: string
                          enum: [rising, stable, falling]
                        factors:
                          type: array
                          items:
                            type: string
                        status:
                          type: string
                          enum: [new, in_progress, resolved]
        401:
          description: Не авторизован
        403:
          description: Доступ запрещен

  /psychologist/tasks/{task_id}:
    get:
      tags: [Psychologist]
      summary: Получить информацию по задаче
      description: Возвращает детальную информацию по конкретной задаче
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
          description: Идентификатор задачи
      responses:
        200:
          description: Информация по задаче
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                  employee:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      department:
                        type: string
                  stress_history:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        score:
                          type: number
                          format: float
                  factors:
                    type: array
                    items:
                      type: string
                  notes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        text:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                  current_status:
                    type: string
                    enum: [new, in_progress, resolved]
        401:
          description: Не авторизован
        403:
          description: Доступ запрещен
        404:
          description: Задача не найдена

    patch:
      tags: [Psychologist]
      summary: Изменить статус задачи
      description: Переводит задачу в следующий статус
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
          description: Идентификатор задачи
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [in_progress, resolved]
                  description: Новый статус задачи
      responses:
        200:
          description: Статус обновлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                  status:
                    type: string
                  updated_at:
                    type: string
                    format: date-time
        400:
          description: Некорректный переход статуса
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Невозможно перевести задачу из 'new' в 'resolved'"
        401:
          description: Не авторизован
        403:
          description: Доступ запрещен
        404:
          description: Задача не найдена

  # АДМИНИСТРАТОР
  /admin/integrations:
    get:
      tags: [Admin]
      summary: Получить список интеграций
      description: Возвращает все подключенные интеграции текущей компании
      security:
        - bearerAuth: []
      responses:
        200:
          description: Список интеграций
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                          enum: [jira, google_calendar, outlook, hris]
                        status:
                          type: string
                          enum: [active, inactive, error]
                        last_sync_at:
                          type: string
                          format: date-time
                        error_message:
                          type: string
        401:
          description: Не авторизован
        403:
          description: Доступ запрещен

    post:
      tags: [Admin]
      summary: Настроить новую интеграцию
      description: Создает подключение к внешней системе
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - config
              properties:
                type:
                  type: string
                  enum: [jira, google_calendar, outlook, hris]
                  description: Тип интеграции
                config:
                  type: object
                  properties:
                    url:
                      type: string
                      description: URL внешней системы
                    api_token:
                      type: string
                      description: API-токен для доступа
                    oauth:
                      type: string
                      description: OAuth-данные
      responses:
        201:
          description: Интеграция создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration_id:
                    type: string
                  status:
                    type: string
                    enum: [active, inactive, error]
        400:
          description: Некорректные параметры интеграции
        401:
          description: Не авторизован
        403:
          description: Доступ запрещен

  /admin/integrations/{integration_id}:
    patch:
      tags: [Admin]
      summary: Изменить настройки интеграции
      description: Обновляет параметры подключенной интеграции
      security:
        - bearerAuth: []
      parameters:
        - name: integration_id
          in: path
          required: true
          schema:
            type: string
          description: Идентификатор интеграции
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [active, inactive]
                  description: Новый статус интеграции
                config:
                  type: object
                  properties:
                    url:
                      type: string
                    api_token:
                      type: string
                    oauth:
                      type: string
      responses:
        200:
          description: Настройки интеграции обновлены
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration_id:
                    type: string
                  status:
                    type: string
                  updated_at:
                    type: string
                    format: date-time
        400:
          description: Некорректные параметры
        401:
          description: Не авторизован
        403:
          description: Доступ запрещен
        404:
          description: Интеграция не найдена

    delete:
      tags: [Admin]
      summary: Отключить интеграцию
      description: Удаляет подключение к внешней системе
      security:
        - bearerAuth: []
      parameters:
        - name: integration_id
          in: path
          required: true
          schema:
            type: string
          description: Идентификатор интеграции
      responses:
        200:
          description: Интеграция отключена
        401:
          description: Не авторизован
        403:
          description: Доступ запрещен
        404:
          description: Интеграция не найдена

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
